html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

.App {
  text-align: center;
  position: absolute;
  /* padding:0;
  margin:0; */
  top:0;
  left:0;
}

.Page {
  height: 100vh;
  width: 100vw;
  background:rgba(186, 43, 43, 0.5);

  /* background-image: url("/public/01-IMG.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

img {
  height: 100vh;
  width: 100vw;
  object-fit: fill;
}

/* .Page2 {
  height: 100vh;
  width: 100vw;
  background:rgba(44, 10, 10, 0.5);
} */