html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

/* body {
  margin: 0;
  padding:0;
  background:rgba(0, 255, 234, 0.5);
} */

.App {
  text-align: center;
  position: absolute;
  /* padding:0;
  margin:0; */
  top:0;
  left:0;
}

.Page {
  height: 100vh;
  width: 100vw;
  background:rgba(186, 43, 43, 0.5);
}

img {
  height: 100vh;
  width: 100vw;
  object-fit: fill;
}